@import "tailwindcss";
@source "../app";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --font-sans:
    "IBM Plex Sans JP", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-dark: #0f0f0f;
  --color-light: #efefef;
  --color-border: #757575;
  --color-primary: #552266;
  --color-secondary: #ff5544;
}

@utility style-base {
  @apply bg-light text-dark dark:bg-dark dark:text-light;
}

@utility style-base-menu {
  @apply bg-light/70 text-dark dark:bg-dark/70 dark:text-light backdrop-blur-sm;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }

  body,
  html {
    @apply style-base font-sans;
  }

  main {
    @apply grow pt-12;
  }

  body {
    @apply flex flex-col min-h-svh;
  }

  button {
    @apply cursor-pointer;
  }
}

a {
  @apply hover:text-secondary;
}

a.ext {
  @apply underline;

  &:after {
    content: "\2197";
  }
}

input {
  @apply p-2 rounded-sm border outline-none;
}

h1,
h2,
h3,
h4 {
  @apply font-mono;
}

a.btn,
button.btn {
  @apply px-5 py-2 bg-dark text-light rounded-full hover:opacity-80 cursor-pointer dark:bg-light dark:text-dark;
}

a.btn-outline,
button.btn-outline {
  @apply px-5 py-2 rounded-full hover:opacity-80 cursor-pointer bg-transparent border;
}

@media (min-width: 768px) {
  .marquee {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }
}

.animate-marquee {
  animation: marquee-scroll 60s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0.5rem));
  }
}
